@media screen and (orientation: portrait) and (max-width: 1000px) {
  .new-registry {
    .registry-form {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-actions {
      display: none;
    }
  }
}
