<div class="new-registry">
  <div class="mdl-header">
    <h1>AGGIUNGI ANAGRAFICA</h1>
    <button [disabled]="!form.valid" (click)="add()">
      <fa-icon class="faicon" [icon]="faAdd"></fa-icon>
    </button>
    <button class="close-btn" (click)="dismiss()">
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>
  </div>

  <div class="registry-form" [formGroup]="form">
    <app-input
      formControlName="name"
      [invalid]="form | invalidForm: 'name'"
      [invalidMessage]="'Nome non valido'"
      [required]="form | requiredForm: 'name'"
      [requiredMessage]="'Nome necessario'"
      [title]="'Nome*'"
    ></app-input>

    <app-input
      formControlName="surname"
      [invalid]="form | invalidForm: 'surname'"
      [invalidMessage]="'Cognome non valido'"
      [required]="form | requiredForm: 'surname'"
      [requiredMessage]="'Cognome necessario'"
      [title]="'Cognome*'"
    ></app-input>

    <app-input
      formControlName="address"
      [invalid]="form | invalidForm: 'address'"
      [invalidMessage]="'Indirizzo non valido'"
      [title]="'Indirizzo'"
    ></app-input>

    <app-input
      formControlName="location"
      [invalid]="form | invalidForm: 'location'"
      [invalidMessage]="'Località non valida'"
      [title]="'Località'"
    ></app-input>

    <app-input
      formControlName="city"
      [invalid]="form | invalidForm: 'city'"
      [invalidMessage]="'Città non valida'"
      [title]="'Città'"
    ></app-input>

    <app-input
      formControlName="province"
      [invalid]="form | invalidForm: 'province'"
      [invalidMessage]="'Provincia non valida'"
      [title]="'Provincia'"
    ></app-input>

    <app-input
      formControlName="email"
      [invalid]="form | invalidForm: 'email'"
      [invalidMessage]="'Email non valida'"
      [required]="form | requiredForm: 'email'"
      [requiredMessage]="'Email richiesta'"
      [title]="'Email*'"
    ></app-input>

    <app-input formControlName="notes" [title]="'Note'"></app-input>
  </div>

  <div class="new-registry-actions">
    <button [disabled]="!form.valid" (click)="add()">Aggiungi</button>
    <button class="close-btn" (click)="dismiss()">Annulla</button>
  </div>
</div>
