.registries {
  height: 100vh;
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  background-color: #ffffff;
  color: #1c1b1f;

  h1 {
    text-align: center;
    font-weight: bold;
    margin: 0;
  }

  .registries-table {
    margin: 0 36px;
    width: calc(100vw - 144px);
    height: auto;
    border: 1px solid #6750a4;
    border-radius: 12px;
    background-color: #fffbfe;
    color: #1c1b1f;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;

    .registries-header {
      background-color: #eaddff;
      border-bottom: 1px solid #6750a4;
      color: #21005d;
      display: grid;
      grid-template-columns: repeat(var(--columns), var(--colWidth)) 1fr;

      .header-cell {
        padding: 6px 12px;
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        row-gap: 6px;
        column-gap: 12px;

        &.border-right {
          border-right: 1px solid #6750a4;
        }

        span {
          grid-column: 1;
          font-weight: bold;
        }

        .header-btn {
          border: none;
          background: transparent;
          cursor: pointer;
          padding: 0 3px;

          .sort-icon {
            color: #21005d;
          }

          &.selected-sort {
            background-color: #6750a4;
            color: #ffffff;
            border-radius: 3px;

            .sort-icon {
              color: #ffffff;
            }
          }
        }

        .header-search {
          border: 1px solid #7d5260;
          border-radius: 6px;
          padding: 6px;
          overflow: hidden;
          background-color: #fffbfe;
          color: #1c1b1f;
          grid-column: 1 / 4;
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 6px;

          input {
            border: none;
            background-color: transparent;
            outline: none;
            width: 100%;
          }

          .search-btn {
            border: none;
            background: transparent;
            cursor: pointer;

            .search-icon {
              color: #1c1b1f;
            }
          }
        }

        &.actions {
          .search-action-btn {
            display: none;
          }

          button {
            border: none;
            border-radius: 6px;
            padding: 6px 12px;
            width: fit-content;
            grid-column: 1 / 4;
            grid-row: 1 / 3;
            justify-self: center;
            align-items: center;
            background: #6750a4;
            color: #ffffff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-items: center;
            gap: 12px;
          }
        }
      }
    }

    .registries-header-mobile {
      display: none;
    }

    .registry-row {
      display: grid;
      grid-template-columns: repeat(var(--columns), var(--colWidth)) 1fr;

      .registry-cell {
        padding: 6px 12px;
        text-overflow: ellipsis;
        overflow: hidden;

        &.border-right {
          border-right: 1px solid #6750a4;
        }

        &.not-available {
          font-style: italic;
          font-weight: 300;
        }
      }

      .registry-actions {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;

        .row-btn {
          border: none;
          background: transparent;
          cursor: pointer;
        }
      }

      &.dark-row {
        background-color: #e7e0ec;
        color: #49454f;

        .row-btn .row-icon {
          color: #49454f;
        }
      }

      &.highlighted {
        background-color: #6750a4;
        color: #ffffff;

        .row-btn .row-icon {
          color: #ffffff;
        }
      }
    }

    .registry-row-mobile {
      display: none;
    }

    .registries-pager {
      background-color: #eaddff;
      border-top: 1px solid #6750a4;
      height: 60px;
      padding: 12px;
      color: #21005d;
      display: grid;
      grid-template-columns: auto auto 1fr auto 48px auto 48px auto 1fr auto auto;
      align-items: center;
      justify-items: center;
      gap: 12px;

      select {
        width: 100%;
        height: 100%;
        border: 1px solid #7d5260;
        border-radius: 6px;
        overflow: hidden;
        background-color: #fffbfe;
        color: #1c1b1f;
        text-align: center;
      }

      input {
        width: 100%;
        height: 100%;
        outline: none;
        border: 1px solid #7d5260;
        border-radius: 6px;
        overflow: hidden;
        background-color: #fffbfe;
        color: #1c1b1f;
        text-align: center;
      }

      .go-btn {
        background-color: #6750a4;
        color: #ffffff;
        border: none;
        border-radius: 6px;
        padding: 6px 12px;
        cursor: pointer;
      }

      .go-icon {
        color: #6750a4;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:disabled {
          color: #49454f;

          fa-icon {
            color: #79747e;
          }
        }
      }
    }
  }
}

.empty {
  padding: 12px;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    background: conic-gradient(#ffffff, #6750a4);
    padding: 2px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

button {
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  width: fit-content;
  background: #6750a4;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

@media screen and (orientation: landscape) and (max-width: 1599px) {
  .registries {
    padding: 24px;
    gap: 24px;

    h1 {
      font-size: 1.5rem;
    }

    .registries-table {
      margin: 0 24px;
      width: calc(100vw - 96px);

      .registries-header {
        .header-cell {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto 1fr;

          span {
            font-size: 1rem;
            grid-column: 1 / 4;
          }

          &.actions {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .registry-row {
        font-size: 0.875rem;
      }
    }
  }

  .registries-pager {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 1200px) {
  .registries {
    padding: 12px;
    gap: 12px;

    h1 {
      font-size: 1rem;
    }

    .registries-table {
      margin: 0 12px;
      width: calc(100vw - 48px);

      .registries-header {
        .header-cell {
          padding: 6px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;

          span {
            font-size: 0.75rem;
            grid-column: 1 / 4;
          }

          .header-search {
            display: none;
          }

          &.actions {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;

            .search-action-btn {
              display: block;
            }

            button {
              padding: 0;
              width: 36px;
              height: 36px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      .registry-row {
        font-size: 0.75rem;
      }

      .registries-pager {
        padding: 6px;
        font-size: 0.75rem;

        select,
        input {
          height: auto;
          padding: 6px;
        }
      }

      .mobile-registries {
        display: none;
      }
    }
  }
}

@media screen and (orientation: portrait) and (max-width: 1000px) {
  .registries {
    padding: 0;

    h1 {
      padding: 24px 24px 12px 24px;
    }

    .registries-table {
      display: none;
    }

    .mobile-registries {
      height: 100%;

      &-actions {
        overflow: hidden;
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 12px;

        .go-icon {
          background-color: transparent;
          color: #6750A4;
        }
      }

      &-list {
        padding: 12px 24px 24px 24px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }

  button {
    font-size: 0.875rem;
  }
}
