<div class="registries">
  <h1>Anagrafiche</h1>

  <ng-container *ngIf="data$ | async as data; else loader">
    <div class="registries-table" #table>
      <div
        class="registries-header"
        style="--columns: {{ headers.length }}; --colWidth: {{ colWidth }}"
      >
        <ng-container *ngFor="let header of headers">
          <div
            class="header-cell border-right"
            style="--columns: {{ headers.length + 1 }}"
          >
            <span>{{ header.label }}</span>
            <button
              class="header-btn"
              [ngClass]="{
                'selected-sort': isSelectedSort(header.value, 'asc')
              }"
              (click)="sort(header.value, 'asc')"
            >
              <fa-icon class="sort-icon" [icon]="faUp"></fa-icon>
            </button>
            <button
              class="header-btn"
              [ngClass]="{
                'selected-sort': isSelectedSort(header.value, 'desc')
              }"
              (click)="sort(header.value, 'desc')"
            >
              <fa-icon class="sort-icon" [icon]="faDown"></fa-icon>
            </button>
            <form
              class="header-search"
              [formGroup]="searchForm"
              (onSubmit)="search()"
            >
              <input
                class="header-input"
                formControlName="{{ header.value }}"
                type="text"
              />
              <button class="search-btn" (click)="search()">
                <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
              </button>
            </form>
          </div>
        </ng-container>

        <div class="header-cell actions">
          <button class="search-action-btn" (click)="openSearch()">
            <fa-icon class="faicon" [icon]="faSearch"></fa-icon>
          </button>
          <button class="add-btn" (click)="addRegistry(data.page, data.size)">
            <fa-icon class="faicon" [icon]="faAdd"></fa-icon>
          </button>
        </div>
      </div>

      <div
        class="registries-header-mobile"
        style="--columns: {{ shortHeaders.length }}"
      >
        <ng-container *ngFor="let header of shortHeaders">
          <div
            class="header-cell border-right"
            (click)="mobileSort(header.value)"
          >
            <span>{{ header.label }}</span>
            <ng-container *ngIf="selectedSort.sort === header.value">
              <fa-icon
                class="sort-icon"
                [icon]="selectedSort.dir === 'asc' ? faUp : faDown"
              ></fa-icon>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="(data.registries | getSetLength) > 0; else empty">
        <ng-container *ngFor="let registry of data.registries; let i = index">
          <div
            class="registry-row"
            style="--columns: {{ headers.length }}"
            [ngClass]="{
              'dark-row': i % 2 === 1,
              highlighted: id && registry.id === id
            }"
          >
            <ng-container *ngFor="let header of headers">
              <div
                class="registry-cell border-right"
                [ngClass]="{
                  'not-available': (registry | getValue: header.value) === 'N/A'
                }"
              >
                {{ registry | getValue: header.value }}
              </div>
            </ng-container>
            <div class="registry-actions">
              <button class="row-btn" (click)="edit(registry)">
                <fa-icon class="row-icon" [icon]="faEdit"></fa-icon>
              </button>
              <button class="row-btn" (click)="deleteEntry(registry)">
                <fa-icon class="row-icon" [icon]="faDelete"></fa-icon></button
              ><button class="row-btn" (click)="sendEmail(registry)">
                <fa-icon class="row-icon" [icon]="faMail"></fa-icon>
              </button>
            </div>
          </div>

          <div
            class="registry-row-mobile"
            style="--columns: {{ shortHeaders.length }}"
            [ngClass]="{
              'dark-row': i % 2 === 1,
              highlighted: id && registry.id === id
            }"
          >
            <ng-container *ngFor="let header of shortHeaders">
              <div
                class="registry-cell border-right"
                [ngClass]="{
                  'not-available': (registry | getValue: header.value) === 'N/A'
                }"
              >
                {{ registry | getValue: header.value }}
              </div>
            </ng-container>
            <!-- <div class="registry-actions">
              <button class="row-btn" (click)="edit(registry)">
                <fa-icon class="row-icon" [icon]="faEdit"></fa-icon>
              </button>
              <button class="row-btn" (click)="deleteEntry(registry)">
                <fa-icon class="row-icon" [icon]="faDelete"></fa-icon></button
              ><button class="row-btn" (click)="sendEmail(registry)">
                <fa-icon class="row-icon" [icon]="faMail"></fa-icon>
              </button>
            </div> -->
          </div>
        </ng-container>
      </ng-container>

      <div class="registries-pager" [formGroup]="pageForm">
        <button
          class="go-icon"
          [disabled]="data.page === 0"
          (click)="goToPage(0)"
        >
          <fa-icon class="go-icon" [icon]="faFirst"></fa-icon>
        </button>
        <button
          class="go-icon"
          [disabled]="data.page === 0"
          (click)="goToPage(data.page - 1)"
        >
          <fa-icon class="go-icon" [icon]="faPrevious"></fa-icon>
        </button>

        <span></span>

        <div>Vai alla pagina</div>
        <select formControlName="page">
          <ng-container *ngFor="let page of getPages(data.pages)">
            <option [value]="page - 1">{{ page }}</option>
          </ng-container>
        </select>
        <div>Elementi per pagina</div>
        <input formControlName="size" type="number" />
        <button class="go-btn" (click)="goToPage(page)">Vai</button>

        <span></span>

        <button
          class="go-icon"
          [disabled]="data.page + 1 === data.pages"
          (click)="goToPage(data.page + 1)"
        >
          <fa-icon class="go-icon" [icon]="faNext"></fa-icon>
        </button>
        <button
          class="go-icon"
          [disabled]="data.page + 1 === data.pages"
          (click)="goToPage(data.pages - 1)"
        >
          <fa-icon class="go-icon" [icon]="faLast"></fa-icon>
        </button>
      </div>
    </div>

    <div class="mobile-registries">
      <div class="mobile-registries-actions">
        <button
          class="go-icon"
          [disabled]="data.page === 0"
          (click)="goToPage(0)"
        >
          <fa-icon class="go-icon" [icon]="faFirst"></fa-icon>
        </button>
        <button
          class="go-icon"
          [disabled]="data.page === 0"
          (click)="goToPage(data.page - 1)"
        >
          <fa-icon class="go-icon" [icon]="faPrevious"></fa-icon>
        </button>
        <button (click)="openSearch()">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <button (click)="addRegistry(data.page, data.size)">
          <fa-icon [icon]="faAdd"></fa-icon>
        </button>
        <button
          class="go-icon"
          [disabled]="data.page + 1 === data.pages"
          (click)="goToPage(data.page + 1)"
        >
          <fa-icon class="go-icon" [icon]="faNext"></fa-icon>
        </button>
        <button
          class="go-icon"
          [disabled]="data.page + 1 === data.pages"
          (click)="goToPage(data.pages - 1)"
        >
          <fa-icon class="go-icon" [icon]="faLast"></fa-icon>
        </button>
      </div>

      <div class="mobile-registries-list">
        <ng-container *ngFor="let registry of data.registries">
          <app-portrait-registry
            [registry]="registry"
            (click)="handleRegistry(registry)"
          ></app-portrait-registry>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loader>
  <div class="loader-container">
    <div class="loader"></div>
  </div>
</ng-template>

<ng-template #empty>
  <div class="empty">
    Non è stata trovata alcuna anagrafica per i parametri richiesti
  </div>
</ng-template>
