.registry {
  height: 100vh;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  background-color: #fffbfe;
  color: #1c1b1f;

  h1 {
    text-align: center;
    font-weight: bold;
    margin: 0;
  }

  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}

@media screen and (orientation: portrait) and (max-width: 1000px) {
  .registry {
    padding: 24px;
    gap: 24px;

    h1 {
      font-size: 0.875rem;
    }

    .details {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }
}
