.info {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;

  h4 {
    height: 32px;
    border-radius: 6px 0 0 6px;
    margin: 0;
    padding: 6px 12px;
    background-color: #e7e0ec;
    font-size: 1.25rem;
    font-weight: 400;
  }

  span {
    height: 32px;
    background-color: #e7e0ec;
    flex-grow: 1;
    min-width: 240px;
    margin: 0;
    padding: 6px;
    border: none;
    outline: none;
  }

  button {
    height: 32px;
    padding: 6px 12px;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #6750a4;
    color: #ffffff;
  }
}

@media screen and (max-width: 1200px) {
  .info h4,
  .info span {
    font-size: 0.875rem;
    line-height: 20px;
  }

  .info h4 {
    font-style: italic;
  }

  .info span {
    min-width: 120px;
  }
}
